.popup__btn {
  display: block;
  width: 100%;
  margin-top: 48px;
  padding: 14px 0 18px;
  background-color: #000;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: all .2s ease;
}

.popup__btn:hover {
  opacity: .8;
  transition: all .2s ease;
}

@media screen and (max-width: 767px) {
  .popup__btn {
    margin-top: 45px;
  }
}
