.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url(../../../images/icons/сlose.svg);
  background-size: contain;
  transition: all .2s ease;
}

.popup__close:hover {
  opacity: .6;
  transition: all .2s ease;
}

@media screen and (max-width: 767px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
